<header>
  <nav class="navbar">
      <div class="logo">
          <h1>Mi Portafolio Web</h1>
      </div>
      <ul class="nav-links">
          <li><a href="#about">Sobre mí</a></li>
          <li><a href="#skills">Habilidades</a></li>
          <li><a href="#projects">Proyectos</a></li>
          <li><a href="#contact">Contacto</a></li>
      </ul>
  </nav>
</header>

<!--
<section class="intro">
  <h1 class="intro-title">Ingeniero desarrollador de software</h1>
  <p class="intro-subtitle">Bienvenidos a mi portafolio donde las cosas que imagines se pueden hacer realidad</p>
</section> 
-->

<!-- Sección Hero (Presentación) -->
<section class="hero" id="about">
  <div class="hero-container">
      <div class="hero-text">
          <h1>¡Hola! Soy José Julián Sorcia Rodríguez</h1>
          <p>Desarrollador web apasionado por crear experiencias digitales únicas. 
          Soy un desarrollador web apasionado y dedicado con 4 años de experiencia en la creación y optimización de sitios web dinámicos y aplicaciones web. 
          Mi enfoque se centra en la usabilidad, la funcionalidad y la estética, asegurando que cada proyecto no solo cumpla con las expectativas del cliente, sino que también ofrezca una experiencia de usuario excepcional.</p>
          <a href="#projects" class="btn">Ver mis proyectos</a>
      </div>
      <div class="hero-image">
          <img src="/assets/img/fotoPerfil.jpg" alt="José Julián Sorcia Rodríguez">
      </div>
  </div>
</section>

<section class="skills" id="skills">
  <h2>Habilidades</h2>
  <div class="skills-grid">
      <a href="https://angular.io/" target="_blank" class="skill-card">
          <img src="assets/img/angular.png" alt="Angular">
          <p>Angular</p>
      </a>
      <a href="https://www.java.com/" target="_blank" class="skill-card">
          <img src="assets/img/java2.png" alt="Java">
          <p>Java</p>
      </a>
      <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" class="skill-card">
          <img src="assets/img/html.JPG" alt="HTML">
          <p>HTML</p>
      </a>
      <a href="https://www.javascript.com/" target="_blank" class="skill-card">
          <img src="assets/img/javascript.JPG" alt="JavaScript">
          <p>JavaScript</p>
      </a>
      <a href="https://www.mongodb.com/" target="_blank" class="skill-card">
          <img src="assets/img/mongo.JPG" alt="MongoDB">
          <p>MongoDB</p>
      </a>
      <a href="https://www.python.org/" target="_blank" class="skill-card">
          <img src="assets/img/py.JPG" alt="Python">
          <p>Python</p>
      </a>
      <a href="https://www.postgresql.org/" target="_blank" class="skill-card">
          <img src="assets/img/postgres.JPG" alt="PostgreSQL">
          <p>PostgreSQL</p>
      </a>
  </div>
</section>    

<section class="projects" id="projects">
  <h2>Mis Proyectos</h2>
  <div class="project-grid">
      <div class="project-card">
          <img src="assets/img/adminClean.jpg" alt="Admin Clean">
          <div class="card-content">
              <h3>Admin Clean</h3>
              <p>Aplicación móvil para la administración de herramientas y líquidos de limpieza para una jarcería.</p>
          </div>
      </div>
      <div class="project-card">
          <img src="assets/img/gameShop.png" alt="Game Shop">
          <div class="card-content">
              <h3>Game Shop</h3>
              <p>Página web administrativa de videojuegos para una tienda online.</p>
          </div>
      </div>
      
      <div class="project-card">
          <a href="https://agrosabio.netlify.app/" target="_blank" class="skill-card">
              <img src="assets/img/agroSabio.jpg" alt="AgroSabio">
              <div class="card-content">
                  <h3>AgroSabio</h3>
                  <p>Aplicación web para la gestión y predicción de las condiciones óptimas del suelo.</p>
              </div>
          </a>
      </div>
  </div>
</section>


<!-- Sección de Contacto -->
<section class="contact" id="contact">
  <h2>Contacto</h2>
  <form action="#" method="post" class="contact-form">
      <input type="text" name="nombre" placeholder="Jose Sorcia Rodríguez" required>
      <input type="email" name="email" placeholder="correo@email.com" required>
      <textarea name="mensaje" rows="5" placeholder="Deja aquí tu mensaje, sugerencia, opinión o comentario." required></textarea>
      <button type="submit" class="btn">Enviar</button>
  </form>
</section>

<!-- Pie de página -->
<footer>
  <p>&copy; 2024 José Julián Sorcia Rodríguez. Todos los derechos reservados.</p>
</footer>
<script src="js/app.js"></script>
